name: 'test'
on:
  pull_request:
  push:
    branches:
      - master

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: 'Install dependencies, audit, build, lint and test'
        run: |
          npm ci --ignore-scripts
          npm run all
      - name: 'Slack Notification'
        uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_CHANNEL: ci-cd
          SLACK_COLOR: ${{ job.status }}
          SLACK_ICON: https://raw.githubusercontent.com/florianldt/jerome/master/media/slack-icon.jpg
          SLACK_USERNAME: Alf
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
